<a href="https://colab.research.google.com/github/karnatigagan/Datafest/blob/main/Advanced_Data_Manipulation_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTANT

This document is view only, in order to follow along with the tutorial video, please save a copy of this notebook in your own drive.

# How to save this notebook
- Go to "File" tab on the top left
- Choose "Save a copy in drive"

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving colors.csv to colors.csv
Saving inventories.csv to inventories.csv
Saving inventory_parts.csv to inventory_parts.csv
Saving inventory_sets.csv to inventory_sets.csv
Saving part_categories.csv to part_categories.csv
Saving parts.csv to parts.csv
Saving sets.csv to sets.csv
Saving themes.csv to themes.csv

In [ ]:
#save the colors.csv to df object: colors

colors = pd.read_csv('/content/colors.csv')
#save the inventories.csv to df object: inventories
inventories = pd.read_csv('/content/inventories.csv')
#save the inventory_parts.csv to df object: inventory_parts
inventory_parts = pd.read_csv('/content/inventory_parts.csv')
#save the inventory_sets.csv to df object: inventory_sets
inventory_sets = pd.read_csv('/content/inventory_sets.csv')
#save the part_categories.csv to df object: part_categories
part_categories = pd.read_csv('/content/part_categories.csv')
#save the parts.csv to df object: parts
parts = pd.read_csv('/content/parts.csv')
#save the sets.csv to df object: sets
sets = pd.read_csv('/content/sets.csv')
#save the themes.csv to df object: themes
themes = pd.read_csv('/content/themes.csv')

In [ ]:
#retrieve the head of the colors data

colors.head()

   id            name     rgb is_trans
0  -1         Unknown  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [ ]:
#retrieve the head of the inventories data
inventories.head()

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1
3  15        1  5158-1
4  16        1   903-1

In [ ]:
#retrieve the head of the inventory parts data
inventories.head()

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1
3  15        1  5158-1
4  16        1   903-1

In [ ]:
#retrieve the head of the inventory sets data
inventory_sets.head()

   inventory_id  set_num  quantity
0            35  75911-1         1
1            35  75912-1         1
2            39  75048-1         1
3            39  75053-1         1
4            50   4515-1         1

In [ ]:
#retrieve the head of the part_categories data
part_categories.head()

   id                     name
0   1               Baseplates
1   2           Bricks Printed
2   3            Bricks Sloped
3   4  Duplo, Quatro and Primo
4   5           Bricks Special

In [ ]:
#retrieve the head of the parts data
parts.head()

  part_num                                               name  part_cat_id
0   0687b1                        Set 0687 Activity Booklet 1           17
1     0901  Baseplate 16 x 30 with Set 080 Yellow House Print            1
2     0902  Baseplate 16 x 24 with Set 080 Small White Hou...            1
3     0903     Baseplate 16 x 24 with Set 080 Red House Print            1
4     0904  Baseplate 16 x 24 with Set 080 Large White Hou...            1

In [ ]:
#retrieve the head of the sets data
sets.head()

  set_num                        name  year  theme_id  num_parts
0    00-1             Weetabix Castle  1970       414        471
1  0011-2           Town Mini-Figures  1978        84         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          2
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

In [ ]:
#retrieve the head of the themes daa
themes.head()

   id            name  parent_id
0   1         Technic        NaN
1   2  Arctic Technic        1.0
2   3     Competition        1.0
3   4  Expert Builder        1.0
4   5           Model        1.0

# Joining Relational Data

Thus far we have worked with one dataset in our environment, where we loaded it in, did some visualizations or cleaning and that was it. In the real world, data scientists rarely use one csv to do analysis, and often times have to join together multiple large datasets to solve problems. There are many different ways to join dataframes, but today we will talk about three main ones:

- Left Joins
- Right Joins
- Inner Joins
- Full Outer Joins

# Joining on a key

When we join data, we want to be careful about how we go about doing it. It may be tempting to join them on some random column, but this can yield different results than we may expect, and is generally not a good practice. When data frames are joined together, you typically join them on a specific column that appears in both, called a "key". Keys are one specific column in a data frame which contain unique values, and are usually labeled as some kind of 'ID'.

This is where the word "relational" data comes from, because we join together one data frame which is "related" to another data frame based on a column they share. This key column is what we use to our advantage when specifying our joins.

To better visualize the relationships between data, we can visualize it in a "entity relationship diagram", a fancy term for an image which shows the relationship between diagrams.

# Joining Data with Pandas

Pandas offers many ways we can join together datasets, and if you look at the documentation you will notice alot of the arguments are similar. The method we will be focusing on today is the following:


```
#to merge together two data frames that share a similar key

data_frame_1.merge(data_frame_2, on='', how='', suffixes=[])

```


This method allows us to join together data very easily in one line of code. There are some arguments I want to better explain before going further:

- on (STR) ~ say two data frames share the same key to join on, we can specify this as a string to tell python which column we want to join on


- how (STR) ~ tells python the type of join we want to execute when merging the data


- suffixes (LIST) ~ more on this later, but if we join together two data frames where they both share the same column names, when joining them together we don't want them to share the same names, so we can specify how each of them should look once we have joined them. We can pass in the suffixes as a list of strings.



What if we join together two data frames with different key column names? There are some other arguments we can pass this to handle this.


```
#to merge together two data frames that share a different key

#say data_frame_1 has the key column: num_id

#say data_frame_2 has the key column: id


data_frame_1.merge(data_frame_2, left_on='', right_on='',  how='', suffixes=[])


```


The left_on and right_on arguments specify which keys we want to join on if the two data frames are different.

# Left Join

A left join returns a data frame which is all the rows in the left table, as well as the matching rows in the right data frame. It excludes any rows from the right data frame which do not match this critera. This is one of the most common methods for joining tables.


In Pandas we can use the following function to do a left join



```
# Left join df1 and df2 with a common key

df1.merge(df2, how='left', on='', suffixes=[])


#Left join df1 and df2 with two different keys

df1.merge(df2, how='left', left_on='', right_on='', suffixes=[])
```

In [ ]:
sets

             set_num  ... num_parts
0               00-1  ...       471
1             0011-2  ...        12
2             0011-3  ...         2
3             0012-1  ...        12
4             0013-1  ...        12
...              ...  ...       ...
11668    Wauwatosa-1  ...        15
11669   WHITEHOUSE-1  ...        59
11670    Wiesbaden-1  ...       146
11671  WishingWell-1  ...        28
11672        wwgp1-1  ...         3

[11673 rows x 5 columns]

In [ ]:
themes

      id                   name  parent_id
0      1                Technic        NaN
1      2         Arctic Technic        1.0
2      3            Competition        1.0
3      4         Expert Builder        1.0
4      5                  Model        1.0
..   ...                    ...        ...
609  610             Brickheadz        NaN
610  611  Series 17 Minifigures      535.0
611  612    Star Wars Episode 8      158.0
612  613             Freemakers      158.0
613  614                 Jungle       52.0

[614 rows x 3 columns]

In [ ]:
#left join the sets and themes data frames, with the left key being 'theme_id' and right key being 'id'

sets_and_themes = sets.merge(themes, left_on='theme_id', right_on='id', how='left')

#what happens if you dont specify suffixes?
sets_and_themes

             set_num  ... parent_id
0               00-1  ...     411.0
1             0011-2  ...      67.0
2             0011-3  ...     186.0
3             0012-1  ...     126.0
4             0013-1  ...     126.0
...              ...  ...       ...
11668    Wauwatosa-1  ...       NaN
11669   WHITEHOUSE-1  ...       NaN
11670    Wiesbaden-1  ...       NaN
11671  WishingWell-1  ...       NaN
11672        wwgp1-1  ...     475.0

[11673 rows x 8 columns]

In [ ]:
#left join the sets and themes data frames, with the left key being 'theme_id' and right key being 'id'
sets_and_themes = sets.merge(themes, left_on='theme_id', right_on='id', how='left', suffixes=['_sets', '_themes'])


#this time specify the suffixes to be: '_sets' and '_themes'

#set the merged data frame to a new variable: sets_and_themes

sets_and_themes

             set_num  ... parent_id
0               00-1  ...     411.0
1             0011-2  ...      67.0
2             0011-3  ...     186.0
3             0012-1  ...     126.0
4             0013-1  ...     126.0
...              ...  ...       ...
11668    Wauwatosa-1  ...       NaN
11669   WHITEHOUSE-1  ...       NaN
11670    Wiesbaden-1  ...       NaN
11671  WishingWell-1  ...       NaN
11672        wwgp1-1  ...     475.0

[11673 rows x 8 columns]

In [ ]:
#left join the parts and part_categories data frames, with the left key being 'part_cat_id' and right key being 'id'

#specify suffixes to be: '_parts' and '_partcat'

#set the merged data frame to a new variable: parts_and_partcats

parts_and_partcats = parts.merge(part_categories, left_on='part_cat_id', right_on='id', how='left', suffixes=['_parts', '_partcats'])


parts_and_partcats

      part_num  ...     name_partcats
0       0687b1  ...          Non-LEGO
1         0901  ...        Baseplates
2         0902  ...        Baseplates
3         0903  ...        Baseplates
4         0904  ...        Baseplates
...        ...  ...               ...
25988   zbb013  ...              Znap
25989   zbb014  ...              Znap
25990   zbb015  ...              Znap
25991   zbb018  ...              Znap
25992   zbb022  ...  Wheels and Tyres

[25993 rows x 5 columns]

# Right Join

A right join returns a data frame which keeps all the rows in the right data frame, as well as the matching rows from the left data frame. It excludes any observations from the left data frame that do not match the criteria. Since this mimics the results of a left join, it is less used and you will more see a left join most of the time.


To implement right join, we use the following function:



```
# Right join df1 and df2 with a common key

df1.merge(df2, how='right', on='', suffixes=[])


#Right join df1 and df2 with two different keys

df1.merge(df2, how='right', left_on='', right_on='', suffixes=[])
```

In [ ]:
#print the sets_and_themes data frame
sets_and_themes

             set_num  ... parent_id
0               00-1  ...     411.0
1             0011-2  ...      67.0
2             0011-3  ...     186.0
3             0012-1  ...     126.0
4             0013-1  ...     126.0
...              ...  ...       ...
11668    Wauwatosa-1  ...       NaN
11669   WHITEHOUSE-1  ...       NaN
11670    Wiesbaden-1  ...       NaN
11671  WishingWell-1  ...       NaN
11672        wwgp1-1  ...     475.0

[11673 rows x 8 columns]

In [ ]:
#print the inventory_sets data frame

inventory_sets

      inventory_id  set_num  quantity
0               35  75911-1         1
1               35  75912-1         1
2               39  75048-1         1
3               39  75053-1         1
4               50   4515-1         1
...            ...      ...       ...
2841         18701  71018-5         1
2842         18701  71018-6         1
2843         18701  71018-7         1
2844         18701  71018-8         1
2845         18701  71018-9         1

[2846 rows x 3 columns]

In [ ]:
#right join the sets_and_themes  data frame  and the  inventory_sets data frame, with the key being 'set_num'

#why do we not specify two keys? becuase they share the same one!

#any suffixes? no because they do not share any common column values

#save it to a variable: inventory_sets_and_themes

inventory_sets_and_themes = sets_and_themes.merge(inventory_sets, on='set_num', how='right')

inventory_sets_and_themes

      set_num                   name_sets  ...  inventory_id  quantity
0     75911-1   McLaren Mercedes Pit Stop  ...            35         1
1     75912-1  Porsche 911 GT Finish Line  ...            35         1
2     75048-1                 The Phantom  ...            39         1
3     75053-1                   The Ghost  ...            39         1
4      4515-1              Straight Rails  ...            50         1
...       ...                         ...  ...           ...       ...
2841  71018-5                Veterinarian  ...         18701         1
2842  71018-6                 Hot Dog Man  ...         18701         1
2843  71018-7              Butterfly Girl  ...         18701         1
2844  71018-8             Roman Gladiator  ...         18701         1
2845  71018-9                 Connoisseur  ...         18701         1

[2846 rows x 10 columns]

In [ ]:
#print the inventories data

inventories

          id  version   set_num
0          1        1    7922-1
1          3        1    3931-1
2          4        1    6942-1
3         15        1    5158-1
4         16        1     903-1
...      ...      ...       ...
11676  18593        1   31066-1
11677  18645        1   71018-7
11678  18701        1  71018-17
11679  18704        1   60159-1
11680  18708        1   75090-2

[11681 rows x 3 columns]

In [ ]:
#right join the inventory_sets_and_themes data frame and the inventories data frame, on the key 'set_num'

#specify the suffixes to be '_inventory_sets_and_themes' and '_inventories'

#save the merged dataframe to a new object inventories_sets_themes_merged

inventory_sets_themes_merged = inventory_sets_and_themes.merge(inventories, left_on='inventory_id', right_on='id', how='right', suffixes=['_sets_and_themes', '_inventories'])

inventory_sets_themes_merged

#What happened?


#how can we fix this?

      set_num_sets_and_themes        name_sets  ...  version  set_num_inventories
0                         NaN              NaN  ...        1               7922-1
1                         NaN              NaN  ...        1               3931-1
2                         NaN              NaN  ...        1               6942-1
3                         NaN              NaN  ...        1               5158-1
4                         NaN              NaN  ...        1                903-1
...                       ...              ...  ...      ...                  ...
13933                 71018-7   Butterfly Girl  ...        1             71018-17
13934                 71018-8  Roman Gladiator  ...        1             71018-17
13935                 71018-9      Connoisseur  ...        1             71018-17
13936                     NaN              NaN  ...        1              60159-1
13937                     NaN              NaN  ...        1              75090-2

[13938 rows x 13 columns]

# Inner Join

An inner join returns a data frame which has matching rows from BOTH left and right data frames. It excludes any rows which do not occur in both the left AND right data frames. This is one of the more common join types, and is done quite frequently to avoid having missing values after joining tables.


To implement an inner join in Pandas, we can use the following function



```
# inner join df1 and df2 with a common key

df1.merge(df2, how='inner', on='', suffixes=[])


# inner join df1 and df2 with two different keys

df1.merge(df2, how='inner', left_on='', right_on='', suffixes=[])
```

In [ ]:
#Take the last example we just did, instead of right joining the inventory_sets_and_themes and inventories data, try an inner join

#specify the suffixes the same, and join on the same key 'set_num'

inventory_sets_themes_merged = inventory_sets_and_themes.merge(inventories, left_on='inventory_id', right_on='id', how='inner', suffixes=['_sets_and_themes', '_inventories'])

inventory_sets_themes_merged

     set_num_sets_and_themes  ... set_num_inventories
0                    75911-1  ...           5004559-1
1                    75912-1  ...           5004559-1
2                    75048-1  ...             66512-1
3                    75053-1  ...             66512-1
4                     4515-1  ...             K4520-1
...                      ...  ...                 ...
2841                 71018-5  ...            71018-17
2842                 71018-6  ...            71018-17
2843                 71018-7  ...            71018-17
2844                 71018-8  ...            71018-17
2845                 71018-9  ...            71018-17

[2846 rows x 13 columns]

In [ ]:
#print the inventory_parts data frame

In [ ]:
#print the parts_and_partcats data frame

In [ ]:
#inner join the inventory_parts data frame and part_and_partcats data frame, and specify the key as 'part_num'

#Are there any suffixes to specify?

#save the result to a new variable: inventory_parts_partcats_merged
inventory_parts_partcats_merged = inventory_parts.merge(parts_and_partcats, how='inner', on='part_num')

inventory_parts_partcats_merged

        inventory_id      part_num  ...  id        name_partcats
0                  1      48379c01  ...  27  Minifig Accessories
1                738      48379c01  ...  27  Minifig Accessories
2               1733      48379c01  ...  27  Minifig Accessories
3               2304      48379c01  ...  27  Minifig Accessories
4               3157      48379c01  ...  27  Minifig Accessories
...              ...           ...  ...  ..                  ...
580064         18584  973pr3888c01  ...  13             Minifigs
580065         18704         29111  ...  28   Plants and Animals
580066         18704         34100  ...  17             Non-LEGO
580067         18704     34140pr01  ...  28   Plants and Animals
580068         18708         20243  ...  17             Non-LEGO

[580069 rows x 9 columns]

#Full Outer Join

Outer joins return a data frame with rows from both tables, regardless of if it matches any criteria. It returns the rows which match in each table AND the rows which don't match in each table. Think of it as being the union of two tables.

To implement an outer join, use the following function:



```
# inner join df1 and df2 with a common key

df1.merge(df2, how='outer', on='', suffixes=[])


# inner join df1 and df2 with two different keys

df1.merge(df2, how='outer', left_on='', right_on='', suffixes=[])
```

In [ ]:
#outer join the inventory_parts data frame and part_and_partcats data frame, and specify the key as 'part_num'

#(same example as before just an outer join)

#Are there any suffixes to specify?

#save the result to a new variable: inventory_parts_partcats_outer

#How is this different from the inner join we just did?
inventory_parts_partcats_outer = inventory_parts.merge(parts_and_partcats, on='part_num', how='outer')

inventory_parts_partcats_outer

        inventory_id  part_num  ...    id                             name_partcats
0                1.0  48379c01  ...  27.0                       Minifig Accessories
1              738.0  48379c01  ...  27.0                       Minifig Accessories
2             1733.0  48379c01  ...  27.0                       Minifig Accessories
3             2304.0  48379c01  ...  27.0                       Minifig Accessories
4             3157.0  48379c01  ...  27.0                       Minifig Accessories
...              ...       ...  ...   ...                                       ...
583125           NaN   x900c01  ...  27.0                       Minifig Accessories
583126           NaN   x933c01  ...  45.0  Power Functions, Mindstorms and Electric
583127           NaN       x95  ...  38.0          Flags, Signs, Plastics and Cloth
583128           NaN      x967  ...  42.0              Belville, Scala and Fabuland
583129           NaN  x967pb02  ...  42.0              Belville, Scala and Fabuland

[583130 rows x 9 columns]

In [ ]:
#print the sets_and_themes df

sets_and_themes

             set_num  ... parent_id
0               00-1  ...     411.0
1             0011-2  ...      67.0
2             0011-3  ...     186.0
3             0012-1  ...     126.0
4             0013-1  ...     126.0
...              ...  ...       ...
11668    Wauwatosa-1  ...       NaN
11669   WHITEHOUSE-1  ...       NaN
11670    Wiesbaden-1  ...       NaN
11671  WishingWell-1  ...       NaN
11672        wwgp1-1  ...     475.0

[11673 rows x 8 columns]

In [ ]:
#outer join the sets and themes data frames, with the left key being 'theme_id' and right key being 'id'

#this time specify the suffixes to be: '_sets' and '_themes'

#set the merged data frame to a new variable: sets_and_themes_outer


#whats the difference between the sets_and_themes df?
sets_and_themes_outer = sets.merge(themes,how='outer', left_on='theme_id', right_on='id', suffixes=['_sets', '_themes'])


sets_and_themes_outer

      set_num               name_sets  ...            name_themes  parent_id
0        00-1         Weetabix Castle  ...                 Castle      411.0
1      0011-2       Town Mini-Figures  ...           Supplemental       67.0
2      2181-1              Infomaniac  ...           Supplemental       67.0
3       300-1  T-Junction Road Plates  ...           Supplemental       67.0
4       301-1      Curved Road Plates  ...           Supplemental       67.0
...       ...                     ...  ...                    ...        ...
11707     NaN                     NaN  ...                Friends      591.0
11708     NaN                     NaN  ...    Marvel Super Heroes      591.0
11709     NaN                     NaN  ...                 Nijago      591.0
11710     NaN                     NaN  ...  The LEGO Batman Movie      535.0
11711     NaN                     NaN  ...             Freemakers      158.0

[11712 rows x 8 columns]

# Wrap Up

Thank you for attending the Data Manipulation Series in Python this semester! I hope you all learned a lot about the Pandas package, and encourage you to go out and try to handle messy datasets!